
<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-CN" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh-CN" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>{$setting->system_name}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="{$setting->page_description}"  name="description" />
    <meta content="{$setting->page_author}" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!-- <link href="http://fonts.proxy.ustclug.org/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" /> -->
    <link href="__STATIC__/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->{block name="pageLevelPluinsCSS"}{/block}<!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="__STATIC__/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="__STATIC__/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="__STATIC__/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/assets/layouts/layout/css/themes/light2.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="__STATIC__/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <!-- <link rel="shortcut icon" href="favicon.ico" /> </head> -->
    <!-- END HEAD -->
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    {include file="common@/header"/}
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        {include file="common@/menu"/}
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <div class="iframe-main-header">
                    <h3 class="page-title">
                        {$current_page->title|default=''}
                    </h3>
                    <ul class="iframe-breadcrumb">
                        <li>
                            <a href="__ROOT__/index/admin">
                                主页
                            </a>
                        </li>
                        {volist name="$breadcrumb" id="nav"}
                        <li>
                            <a href="__ROOT__/{$nav.name}" ><!--class="iframe-active"-->
                                {$nav.title}
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
                <div><small>{$current_page->title|default=''}</small></div>

                <div class="iframe-container">
                    {block name="content"}内容{/block}
                    {include file="common@/modal"/}
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        {include file="common@/quicksidebar"/}
        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    {include file="common@/footer"/}
    <!-- END FOOTER -->
</div>

<!--[if lt IE 9]>
<script src="__STATIC__/assets/global/plugins/respond.min.js"></script>
<script src="__STATIC__/assets/global/plugins/excanvas.min.js"></script>
<script src="__STATIC__/assets/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="__STATIC__/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="__STATIC__/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__STATIC__/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="__STATIC__/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__STATIC__/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__STATIC__/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="__STATIC__/assets/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js" type="text/javascript"></script>
<script src="__STATIC__/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js" type="text/javascript"></script>

<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->{block name="pagePluinsJS"}{/block}<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="__STATIC__/assets/global/scripts/app.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->{block name="pageLevelJS"}{/block}<!-- END PAGE LEVEL SCRIPTS -->

<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="__STATIC__/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="__STATIC__/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script>
    //新菜单根据Url决定逻辑
    (function () {
        var locationHref = window.location.href;
        $(".page-sidebar>ul>li>a").each(function () {
           if (locationHref.indexOf($(this).attr("href")) > 0) {
                $(this).parent().addClass("active");
                $(this).append("<span class='selected'></span>");
                document.title = $(this).text() + " - " + document.title;
                $(".page-breadcrumb").find("span").text($(this).text());
                var atitle = $(this).attr("title");
                $(".page-title").find("small").text(atitle);
                return false;
            }else {
               var parent = $(this);
                $(this).next("ul").each(function () {
                    $("a", $(this)).each(function () {
                        //if (locationHref.indexOf($(this).attr("href")) > 0) {
                        if (locationHref.indexOf($(this).attr("href")) > 0) {

                            $(this).parent().addClass("active");
                            parent.parent().addClass("active");
                            $(".arrow", parent).addClass("open").before("<span class='selected'></span>");
                            document.title = $(this).text() + " - " + document.title;
                            var navitemtitle = $(this).parent().parent().siblings("a").children("span.title").text();
                            $(".page-breadcrumb").find("span").text(navitemtitle);
                            var submenutitle = $(this).find("span.title").text();
                            $(".page-title").find("span").text(submenutitle);
                            var atitle = $(this).attr("title");
                            $(".page-title").find("small").text(atitle);
                            return false;
                        }
                    });
                });
            }
        });
    })();
</script>
</body>

</html>